/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}/* Replace this whole line 3 with my version of Eric Meyer’s reset tool.*/

body {
	background-color: rgb(249, 249, 249); /* Not totally white. */
	color: rgb(2, 2, 2);  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family: sans-serif;
}

h1 {
	background-color: rgb(112,128,144);
	color: rgb(249, 249, 249); /* Same as body background. */
	font-size: 30pt;
	padding: 1em 0.5em 1em; /* You want three values. */
	font-weight: bolder;
	text-transform: uppercase;
}


h2 {
	background-color: rgb(112,128,144);
	color:rgb(249, 249, 249);
	font-size: 25pt;
	padding: .5em .5em .5em;
	font-family: serif;
	font-weight: bold;
}

h3 {
	margin: 2em 0.5em 1em; /*Three values again. You got the idea.*/
	padding-top: 1.5em;
	font-size: 18pt;
	color: rgb(196, 30, 58);
	font-weight: bold;
	text-transform:uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: 2px solid rgb(196, 30, 58);
}

h4 {
	font-weight: bold;
    margin: 1em 0em 0em 0em;
}

p.description {
	font-style: italic;
}

p.price {
	color: rgb(196, 30, 58);
}

ul {
	margin: 1em;
}

li { 
	margin: 0em;
	list-style-type: ____;
    list-style: none;
}
